.money-container {
  position: absolute;
  top: 0;
  --inset-block-start: -1vh;
  animation: money-fall 3s linear forwards;
  z-index: 5;
  user-select: none;
}

@keyframes money-fall {
  to {
    top: 105%;
  }
}

.money-container > img {
  height: calc(var(--spacing) * 2.5);
}
